<div class="footer">
  <div class="links-container">
    <div class="footer-links">
      <h3>Support</h3>
      <ul class="footer-list">
        <li><%= link_to 'Blog', '#' %></li>
        <li><%= link_to 'Help & Wiki', '#' %></li>
        <li><%= link_to 'FAQ', '#' %></li>
        <li><%= link_to 'Contact Us', '#' %></li>
      </ul>
    </div>
    <div class="footer-links">
      <h3>About</h3>
      <ul class="footer-list">
        <li><%= link_to 'How It Works', '#' %></li>
        <li><%= link_to 'Features', '#' %></li>
        <li><%= link_to 'Privacy Policy', '#' %></li>
        <li><%= link_to 'Terms of Use', '#' %></li>
      </ul>
    </div>
    <div class="footer-links">
      <h3>Community & Tools</h3>
      <ul class="footer-list">
        <li><%= link_to 'Crypto Screener', '#' %></li>
        <li><%= link_to 'House Rules', '#' %></li>
        <li><%= link_to 'People', '#' %></li>
        <li><%= link_to 'Cookies Policy', '#' %></li>
      </ul>
    </div>
    <div class="footer-social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
<div class="col-footer">
  <div class="item">© 2018 Croker. All Rights Reserved.</div>
  <div class="item" style="text-align: right;">Made at Le Wagon, Lisbon 🇵🇹</div>
</div>
