<div class="navbar-croker">
  <div class="navbar-left">
    <%= link_to :root do %>
    <%= image_tag 'logo.png', class: "logo" %>
    <% end %>
    <div class="tabs">
      <% if controller.class == DashboardsController && controller.action_name == 'dashboard' %>
      <%= link_to 'Dashboard', dashboard_path, class: 'tab active', style: 'font-size: 20px' %>
      <% else %>
      <%= link_to 'Dashboard', dashboard_path, class: 'tab', style: 'font-size: 20px' %>
      <% end %>
      <% if controller.class == CryptocurrenciesController && controller.action_name == 'index' %>
      <%= link_to 'Buy/Sell', cryptocurrencies_path, class: 'tab active', style: 'font-size: 20px' %>
      <% else %>
      <%= link_to 'Buy/Sell', cryptocurrencies_path, class: 'tab', style: 'font-size: 20px' %>
      <% end %>
      <!-- <a href="#"><h2 class="tab">Buy/Sell</h2></a> -->
    </div>
  </div>
  <div class="navbar-right">
    <div class="navbar-balances">
      <h4>Available Balance: <span id="available-balance"><%= money_without_cents_and_with_symbol(current_user.fiat_balance) %></span></h4>
      <h4>Portfolio Value: <span id="portfolio-value"><%= money_without_cents_and_with_symbol(current_user.current_portfolio_value) %></span></h4>
    </div>
    <div class="btn-deposit">
      <%= link_to 'Deposit', new_top_up_path, class: "deposit btn btn-success", "data-toggle" => "modal", "data-target" => "#myModal" %>
    </div>
    <div class="dropdown">
      <button class="dropdown-toggle btn-settings" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <%#= render "devise/registrations/new" %>
    </div>
  </div>
</div>
