<div class="dashboard-row-wrapper">
  <div class="dashboard-container">
    <!-- This is the start of the first box!!!!! -->
    <div class="portfolio-val-change dashboard-field">
      <!-- #################################### -->
      <div class="portfolio-change">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Portfolio Change</h2>
          </div>
        </div>
        <div class="change-content">
          <%= image_tag 'launch', class: "portfolio-image launch" %>
          <span class="positive content-headline-figure text-center">+50.83%</span>
        </div>
        <div class="change-timescale">
          <h4>1D <span class="selected">1W</span> 1M 1Y ALL</h4>
        </div>
      </div>
      <!-- #################################### -->
      <div class="portfolio-value">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Portfolio Value</h2>
          </div>
        </div>
        <div class="value-content">
          <%= image_tag 'coins', class: "portfolio-image coins" %>
          <span class="content-headline-figure text-center">$634.50</span>
        </div>
        <div class="change-timescale">
          <!-- Empty div to ensure border spacing -->
        </div>
      </div>
      <!-- #################################### -->
    </div>
    <!-- This is the end of the first box!!!!! -->

    <!-- This is the start of the second box!!!!! -->
    <div class="portfolio-stats dashboard-field">
      <div class="title">
        <div class="title-icon">
          <%= image_tag 'title_icon', class: "icon" %>
        </div>
        <div class="title-header">
          <h2>Portfolio Change</h2>
        </div>
      </div>
      <div class="stats-content">
        <div class="stats-entry">
          <div class="stats-title">
            <h3>Number of Coins Held:</h3><h3>6</h3>
          </div>
          <p>Total number of different coins held</p>
        </div>
        <div class="stats-entry">
          <div class="stats-title">
            <h3>Total Trades:</h3><h3>22</h3>
          </div>
          <p>Total number of trades within this account</p>
        </div>
        <div class="stats-entry">
          <div class="stats-title">
            <h3>Profit Factor:</h3><h3>4.81</h3>
          </div>
          <p>Profit factor is defined as profits divided by losses</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- This is the end of the second box!!!!! -->

  <!-- This is the start of the third box!!!!! -->
<div class="dashboard-row-wrapper">
  <div class="dashboard-container">
    <div class="portfolio-overview dashboard-field">
      <div class="title">
        <div class="title-icon">
          <%= image_tag 'title_icon', class: "icon" %>
        </div>
        <div class="title-header">
          <h2>Portfolio Overview</h2>
        </div>
      </div>
      <div class="portfolio-headers portfolio-row">
        <div class="portfolio-rank">
          <h4>Rank</h4>
        </div>
        <div class="portfolio-name">
          <h4>Name</h4>
        </div>
        <div class="portfolio-price">
          <h4>Price</h4>
        </div>
        <div class="portfolio-value-held">
          <h4>Value Held</h4>
        </div>
        <div class="portfolio-profit-loss">
          <h4>Profit/Loss</h4>
        </div>
      </div>
      <div class="crypto-rows">
        <!-- Row for each crypto here -->
        <div class="portfolio-crypto portfolio-row">
          <div class="portfolio-rank crypto-rank">
            <h4>1</h4>
          </div>
          <div class="portfolio-name crypto-name">
            <%= image_tag 'BTC', class: "portfolio-icon" %>
            <h4>Bitcoin <span class="crypto-code">BTC</span></h4>
          </div>
          <div class="portfolio-price crypto-price">
            <h4>$3,234.02</h4>
          </div>
          <div class="portfolio-value-held crypto-value-held">
            <h4>$100.34</h4>
          </div>
          <div class="portfolio-profit-loss crypto-profit-loss">
            <h4><span class="positive">$10.12</span></h4>
          </div>
        </div>
        <!-- Row for each crypto here -->
        <!-- Row for each crypto here -->
        <div class="portfolio-crypto portfolio-row">
          <div class="portfolio-rank crypto-rank">
            <h4>2</h4>
          </div>
          <div class="portfolio-name crypto-name">
            <%= image_tag 'XMR', class: "portfolio-icon" %>
            <h4>Monero <span class="crypto-code">XMR</span></h4>
          </div>
          <div class="portfolio-price crypto-price">
            <h4>$78.90</h4>
          </div>
          <div class="portfolio-value-held crypto-value-held">
            <h4>$1,030.34</h4>
          </div>
          <div class="portfolio-profit-loss crypto-profit-loss">
            <h4><span class="positive">$500.73</span></h4>
          </div>
        </div>
        <!-- Row for each crypto here -->
        <!-- Row for each crypto here -->
        <div class="portfolio-crypto portfolio-row">
          <div class="portfolio-rank crypto-rank">
            <h4>3</h4>
          </div>
          <div class="portfolio-name crypto-name">
            <%= image_tag 'BCH', class: "portfolio-icon" %>
            <h4>Bitcoin Cash <span class="crypto-code">BCH</span></h4>
          </div>
          <div class="portfolio-price crypto-price">
            <h4>$120.74</h4>
          </div>
          <div class="portfolio-value-held crypto-value-held">
            <h4>$23.76</h4>
          </div>
          <div class="portfolio-profit-loss crypto-profit-loss">
            <h4><span class="negative">$38.09</span></h4>
          </div>
        </div>
        <!-- Row for each crypto here -->
        <!-- Row for each crypto here -->
        <div class="portfolio-crypto portfolio-row">
          <div class="portfolio-rank crypto-rank">
            <h4>4</h4>
          </div>
          <div class="portfolio-name crypto-name">
            <%= image_tag 'USDT', class: "portfolio-icon" %>
            <h4>Tehter <span class="crypto-code">USDT</span></h4>
          </div>
          <div class="portfolio-price crypto-price">
            <h4>$23.77</h4>
          </div>
          <div class="portfolio-value-held crypto-value-held">
            <h4>$189.99</h4>
          </div>
          <div class="portfolio-profit-loss crypto-profit-loss">
            <h4><span class="positive">$2.99</span></h4>
          </div>
        </div>
        <!-- Row for each crypto here -->
        <!-- Row for each crypto here -->
        <div class="portfolio-crypto portfolio-row">
          <div class="portfolio-rank crypto-rank">
            <h4>5</h4>
          </div>
          <div class="portfolio-name crypto-name">
            <%= image_tag 'ETH', class: "portfolio-icon" %>
            <h4>Ethereum <span class="crypto-code">ETH</span></h4>
          </div>
          <div class="portfolio-price crypto-price">
            <h4>$1.88</h4>
          </div>
          <div class="portfolio-value-held crypto-value-held">
            <h4>$409.65</h4>
          </div>
          <div class="portfolio-profit-loss crypto-profit-loss">
            <h4><span class="negative">$28.99</span></h4>
          </div>
        </div>
        <!-- Row for each crypto here -->
        Row for each crypto here
        <div class="portfolio-crypto portfolio-row">
          <div class="portfolio-rank crypto-rank">
            <h4>6</h4>
          </div>
          <div class="portfolio-name crypto-name">
            <%= image_tag 'XLM', class: "portfolio-icon" %>
            <h4>Stellar <span class="crypto-code">XLM</span></h4>
          </div>
          <div class="portfolio-price crypto-price">
            <h4>$88.87</h4>
          </div>
          <div class="portfolio-value-held crypto-value-held">
            <h4>$10.66</h4>
          </div>
          <div class="portfolio-profit-loss crypto-profit-loss">
            <h4><span class="negative">$9.76</span></h4>
          </div>
        </div>
        <!-- Row for each crypto here -->
        <!-- Row for each crypto here -->
        <div class="portfolio-crypto portfolio-row">
          <div class="portfolio-rank crypto-rank">
            <h4>7</h4>
          </div>
          <div class="portfolio-name crypto-name">
            <%= image_tag 'XRP', class: "portfolio-icon" %>
            <h4>Ripple <span class="crypto-code">XRP</span></h4>
          </div>
          <div class="portfolio-price crypto-price">
            <h4>$0.87</h4>
          </div>
          <div class="portfolio-value-held crypto-value-held">
            <h4>$390.88</h4>
          </div>
          <div class="portfolio-profit-loss crypto-profit-loss">
            <h4><span class="positive">$130.12</span></h4>
          </div>
        </div>
        <!-- Row for each crypto here -->
      </div>
    </div>
  </div>
</div>

