<div class="dashboard-wrapper">
  <% if @portfolio_value == 0 %>
  <div class="dashboard-row-wrapper">
    <div class="dashboard-container">
      <div class="no-coins-dashboard dashboard-field">
        <div class="no-coins-message">
          <h1 class="text-center">It looks like you don't have any coins...</h1>
          <%= image_tag 'sad_croker.png', class: "sad-croker"%>
          <h1>Let's change that shall we?</h1>
          <%= link_to 'Buy Coins Now', cryptocurrencies_path, class: "btn btn-success buy-coins" %>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <!-- ########################################## -->
  <!-- If user has coins this section to be shown -->
  <!-- ########################################## -->
  <div class="dashboard-row-wrapper">
    <div class="dashboard-container">
      <!-- This is the start of the first box!!!!! -->
      <div class="portfolio-val-change dashboard-field">
        <!-- #################################### -->
        <div class="portfolio-change">
          <div class="title">
            <div class="title-icon">
              <%= image_tag 'title_icon.png', class: "icon" %>
            </div>
            <div class="title-header">
              <h2>Portfolio Change</h2>
            </div>
          </div>
          <div class="change-content">
            <%# @change_percentage = 8 %>
            <% if @portfolio_change < -50 %>
            <%= image_tag 'minus50.png', class: "portfolio-image" %>
            <% elsif @portfolio_change < -25 %>
            <%= image_tag 'minus25.png', class: "portfolio-image" %>
            <% elsif @portfolio_change < -5 %>
            <%= image_tag 'minus5.png', class: "portfolio-image" %>
            <% elsif @portfolio_change < 5 %>
            <%= image_tag 'nochange_owl.png', class: "portfolio-image launch" %>
            <% elsif @portfolio_change < 20 %>
            <%= image_tag 'plus10.png', class: "portfolio-image" %>
            <% else %>
            <%= image_tag 'plus20.png', class: "portfolio-image launch" %>
            <% end %>
            <% if @portfolio_change < 0 %>
            <span class="negative content-headline-figure text-center"><%= @portfolio_change.round(2) %>%</span>
            <% else %>
            <span class="positive content-headline-figure text-center">+<%= @portfolio_change.round(2) %>%</span>
            <% end %>
          </div>
         <!--  <div class="change-timescale">
            <h4>1D <span class="selected">1W</span> 1M 1Y ALL</h4>
          </div> -->
        </div>
        <!-- #################################### -->
        <div class="portfolio-value">
          <div class="title">
            <div class="title-icon">
              <%= image_tag 'title_icon.png', class: "icon" %>
            </div>
            <div class="title-header">
              <h2>Portfolio Value</h2>
            </div>
          </div>
          <div class="value-content">
            <%= image_tag 'coins.png', class: "portfolio-image coins" %>
            <span class="content-headline-figure text-center">$<%= number_with_delimiter(@portfolio_value.round, delimeter: ",") %></span>
          </div>
          <div class="change-timescale">
            <!-- Empty div to ensure border spacing -->
          </div>
        </div>
        <!-- #################################### -->
      </div>
      <!-- This is the end of the first box!!!!! -->

      <!-- This is the start of the second box!!!!! -->
      <div class="portfolio-stats dashboard-field">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon.png', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Portfolio Stats</h2>
          </div>
        </div>
        <div class="stats-content">
          <div class="stats-entry">
            <div class="stats-title">
              <h3>Number of Coins Held:</h3><h3><%= @number_of_coins %></h3>
            </div>
            <p>Total number of different coins held</p>
          </div>
          <div class="stats-entry">
            <div class="stats-title">
              <h3>Total Trades:</h3><h3><%= @number_of_trades %></h3>
            </div>
            <p>Total number of trades within this account</p>
          </div>
          <div class="stats-entry">
            <div class="stats-title">
              <h3>Days since last trade:</h3><h3><%= number_with_delimiter(@days_since_last_trade, delimiter: ",") %></h3>
            </div>
            <% if @days_since_last_trade > 0 %>
            <p>I think you should make a trade...</p>
            <% else %>
            <p>That doesn't mean you should stop...</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- This is the end of the second box!!!!! -->
  <!-- This is the start of the third box!!!!! -->
  <div class="dashboard-row-wrapper">
    <div class="dashboard-container">
      <div class="portfolio-overview dashboard-field">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon.png', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Portfolio Overview</h2>
          </div>
        </div>
        <div class="portfolio-table">
          <table id="portfolio-overview-table"class="portfolio-table">
            <thead>
              <tr>
                <th data-sort-method='number' class="rank-column left-header">Rank</th>
                <th class="name-column name-col left-header">Name</th>
                <th data-sort-method='number' class="price-column right-header">Price</th>
                <th data-sort-method='number' class="value-column right-header">Value Held</th>
                <th data-sort-method='number' class="profit-column end-col right-header">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <% @portfolios.each_with_index do |portfolio, index|  %>
                <%= link_to "cryptocurrencies?crypto_id=#{portfolio.cryptocurrency.id}" do %>
                <tr>
                  <td class="body-rank rank-column"><%= index + 1 %></td>
                  <td class="body-name name-col" data-sort='<%= portfolio.cryptocurrency.ticker_name %>'>
                    <div class="name-field-table">
                      <%= image_tag "#{portfolio.cryptocurrency.ticker_code}.png", class: "portfolio-icon" %>
                      <h4><%= portfolio.cryptocurrency.ticker_name %> <span class="crypto-code"><%= portfolio.cryptocurrency.ticker_code %></span></h4>
                    </div>
                  </td>
                  <% current_price = @portfolio_overview[portfolio.cryptocurrency.ticker_name][portfolio.cryptocurrency.ticker_code] %>
                  <td class="body-value price-column" data-sort='<%= current_price %>'>$<%= number_with_delimiter(current_price.round(4), delimeter: ',') %></td>
                  <% value_held = (current_price * portfolio.crypto_amount_held).round %>
                  <td class="body-value value-column" data-sort='<%= value_held %>'>$<%= number_with_delimiter(value_held, delimeter: ',') %></td>
                  <% profit_loss = value_held - (portfolio.fiat_amount_cents / 100) %>
                  <% if profit_loss >= 0 %>
                  <td class="body-value profit-column end-col positive" data-sort='<%= profit_loss %>'>$<%= number_with_delimiter(profit_loss.round, delimeter: ',') %></td>
                  <% else %>
                  <td class="body-value profit-column end-col negative" data-sort='<%= profit_loss %>'>$<%= number_with_delimiter(profit_loss.round * -1, delimeter: ',') %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- This is the end of the third box!!!!! -->
  <!-- ########################################## -->
  <!-- If user has coins this section to be shown -->
  <!-- ########################################## -->
  <% end %>
  <div class="dashboard-row-wrapper">
    <div class="dashboard-container">
      <!-- This is the start of the fourth box!!!!! -->
      <div class="top-winners-losers dashboard-field">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon.png', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Top 5 Winners/Losers</h2>
          </div>
        </div>
        <div class="winners-losers-cols">
          <div class="winners-losers-col">
            <% @top5_winners.each do |key, value| %>
            <% crypto = Cryptocurrency.find_by(ticker_code: key) %>
              <%= link_to "cryptocurrencies?crypto_id=#{crypto.id}" do  %>
                <div class="winner-loser-card">
                  <%= image_tag "#{key}.png", class: "portfolio-icon" %>
                  <h4><%= key %></h4>
                  <h4><span class="winner">+<%= value.round(2) %>%</span></h4>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="winners-losers-col">
            <% @top5_losers.each do |key, value| %>
            <% crypto = Cryptocurrency.find_by(ticker_code: key) %>
              <%= link_to "cryptocurrencies?crypto_id=#{crypto.id}" do  %>
                <div class="winner-loser-card">
                  <h4><span class="loser"><%= value.round(2) %>%</span></h4>
                  <h4><%= key %></h4>
                  <%= image_tag "#{key}.png", class: "portfolio-icon" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- This is the end of the fourth box!!!!! -->
      <!-- This is the start of the fifth box!!!! -->
      <div class="crypto-news dashboard-field">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon.png', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Crypto News</h2>
          </div>
        </div>
        <div class="news-pane">
          <% @latest_news.first(10).each do |news| %>
            <%= link_to news["guid"], target: :_blank do %>
            <div class="news-card">
              <h4 class="news-title"><%= news["title"] %></h4>
              <p class="news-body"><%= news["body"] %></p>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- This is the end of the fifth box!!!!! -->
      <!-- This is the start of the sixth box!!!! -->
      <div class="top-traded-cryptos dashboard-field">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon.png', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Top Traded Cryptos</h2>
          </div>
        </div>
        <div class="top-traded">
          <% rank_top_five = 0 %>
          <% @top_five_traded.each do |key, value|  %>
          <% crypto = Cryptocurrency.find_by(ticker_code: value) %>
            <%= link_to "cryptocurrencies?crypto_id=#{crypto.id}" do  %>
            <% rank_top_five += 1 %>
            <div class="top-traded-card">
              <h4 style="padding-right: 20px; color: #969696;"><%= rank_top_five %></h4>
              <%= image_tag "#{value}.png", class: "portfolio-icon" %>
              <h4><%= key %> <span class="crypto-code"><%= value %></span></h4>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- This is the end of the sixth box!!!!! -->
    </div>
  </div>
</div>
