
<div class="title">
  <div class="title-icon">
    <%= image_tag "#{@cryptocurrency.ticker_code}.png", class: "portfolio-icon" %>
  </div>
  <div class="title-header">
    <h2 style="padding-top: 9px; padding-bottom: 9px;"><%= @cryptocurrency.ticker_name %></h2>
  </div>
</div>
<!-- This is where we show the price of the coin -->
<div class="price-wrapper">
  <h3>$<%= number_with_delimiter(@latest_price.round(2), :delimiter => ',') %></h3>
</div>
<!-- Start of the chart  -->
<!-- <div class="chart-wrapper"> -->
  <!-- Render the chart in this div -->
<!-- </div> -->
<div id="chart-container" data-historical-prices="<%= @data.to_json %>" class="chart-wrapper"></div>
<!-- This div contains the timeframe selectors for the chart [1D, 1W, 1M, 1Y, Since Ever] -->
<div class="timeframe-wrapper">
  <div class="empty"></div>
  <ul class= "list-inline timeframe-list">
    <li class="one-day selected"><button>1D</button></li>
    <li class="one-week"><button>1W</button></li>
    <li class="one-month"><button>1M</button></li>
    <li class="one-year"><button>1Y</button></li>
  </ul>
</div>
<div class="balance-container">
  <div class="show-balance">
    <ul class= "list-inline">
      <% if current_user %>
      <li><h3>Balance:</h3></li>
      <li class="balance"><%= humanized_money_with_symbol(current_user.fiat_balance) %></li>
      <% else %>
      <li><h3>Balance:</h3></li>
      <li class="balance">$ --.--</li>
      <% end %>
    </ul>
  </div>
</div>
<!-- Beggining of the BUY/SELL div -->
<div class="buy-sell-container">
  <div class="buy-sell-tabs">
    <a href="#" id="buy-trade" class="buy-tab tab-selected text-center">
      <h3>BUY</h3>
    </a>
    <a href="#" id="sell-trade" class="sell-tab text-center">
      <h3>SELL</h3>
    </a>
  </div>
  <div class="">
    <% if current_user %>
      <%= hidden_field_tag :user_fiat_balance, current_user.fiat_balance, id:"user_fiat_balance" %>
    <% end %>
      <%= hidden_field_tag :buy_price, @latest_price , id:"latest_price" %>
    <div class="buy-window">
      <%= form_for :trade, html: { autocomplete: "off" }, url: cryptocurrency_trades_path(@cryptocurrency), class: 'buy-input-container' do |f| %>
        <div class="inputs-wrapper">
          <input type="text" name="crypto_amount" class="crypto-search-input form-control text-right" id="tradeValueCryptoBuy" placeholder="2 <%=@cryptocurrency.ticker_code %>">
          <i class="fas fa-exchange-alt"></i>
          <input type="text" name="fiat_amount" class="crypto-search-input form-control text-right" id="tradeValueFiatBuy" placeholder="80 USD">
        </div>
        <div class="buy-sell-button text-center">
          <%= f.submit 'BUY', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>

    <div class="buy-input-container sell-window hidden">
      <% if current_user %>
        <% if current_user.has_portfolios? && current_user.portfolios.where(cryptocurrency_id: @cryptocurrency).any? %>
          <%= hidden_field_tag :crypto_amount_held, current_user.portfolios.where(cryptocurrency_id: @cryptocurrency).first.crypto_amount_held , class: "user_crypto_balance" %>
          <% else %>
          <%= hidden_field_tag :crypto_amount_held, '0' , class: "user_crypto_balance" %>
        <% end %>
      <% end %>


      <%= form_for :trade, html: { autocomplete: "off" }, url: cryptocurrency_trades_path(@cryptocurrency), class: 'buy-input-container' do |f| %>
        <div class="inputs-wrapper">
          <input type="text" name="crypto_amount" class="crypto-search-input form-control text-right" id="tradeValueCryptoSell" placeholder="20000 <%=@cryptocurrency.ticker_code %>">
          <i class="fas fa-exchange-alt"></i>
          <input type="text" name="fiat_amount" class="crypto-search-input form-control text-right" id="tradeValueFiatSell" placeholder="2000 USD">
        </div>
        <div class="buy-sell-button text-center">
          <%= f.submit 'SELL', class: 'btn btn-success' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

