
<div class="title">
  <div class="title-icon" style="padding-bottom: 10px;">
    <%= image_tag "#{@cryptocurrency.ticker_code}.png", class: "portfolio-icon" %>
  </div>
  <div class="title-header" style="padding-bottom: 6px;">
    <h2 id="crypto-alert-name" style="padding-top: 9px; padding-bottom: 9px;"><%= @cryptocurrency.ticker_name %></h2>
  </div>
</div>
<!-- This is where we show the price of the coin -->
<div class="price-wrapper">
  <% precision =  @latest_price > 1 ? 2 : 4 %>
  <h3>$<%= number_with_precision(@latest_price, precision: precision, delimiter: ',')   %></h3>
</div>
<!-- Start of the chart  -->
<!-- <div class="chart-wrapper"> -->
  <!-- Render the chart in this div -->
<!-- </div> -->
<div id="chart-container" data-historical-prices="<%= @data.to_json %>" class="chart-wrapper">
</div>
<!-- This div contains the timeframe selectors for the chart [1D, 1W, 1M, 1Y, Since Ever] -->
<div class="timeframe-wrapper">
  <div id="show-balance" class="show-balance">
    <% if current_user %>
    <h3>Balance:  <span id="balance" class="balance"><%= humanized_money_with_symbol(current_user.fiat_balance) %></span></h3>
    <% else %>
    <h3> </h3>
    <% end %>
  </div>
  <div class="timeframe-btns">
    <div class="btn-timescale one-day selected">1D</div>
    <div class="btn-timescale one-week">1W</div>
    <div class="btn-timescale one-month">1M</div>
    <div class="btn-timescale one-year">1Y</div>
  </div>
</div>
<!-- Beggining of the BUY/SELL div -->
<div class="buy-sell-container">
  <div class="buy-sell-tabs">
    <div id="buy-trade" class="buy-tab tab-selected text-center">
      <h3>BUY</h3>
    </div>
    <div id="sell-trade" class="sell-tab text-center">
      <h3>SELL</h3>
    </div>
  </div>
  <div class="buy-sell-tabs-combined">
    <% if current_user %>
      <%= hidden_field_tag :user_fiat_balance, current_user.fiat_balance, id:"user_fiat_balance" %>
    <% end %>
    <div class="buy-window">
      <%= form_for Trade.new, html: { autocomplete: "off" }, url: cryptocurrency_trades_path(@cryptocurrency), class: 'buy-form-sweet-alert buy-input-container' do |f| %>
        <div id="buy-form" class="inputs-wrapper">
          <div class="trial-buy-sell">
            <div id="buy-crypto-max" class="trial-max-btn">
              MAX
            </div>
            <%= f.text_field :cryptocurrency_amount, class: 'crypto-search-input form-control text-right', id: 'tradeValueCryptoBuy', placeholder: "#{@cryptocurrency.ticker_code}" %>
          </div>
          <i class="material-icons exchange-arrow">compare_arrows</i>
          <div class="trial-buy-sell">
            <div id="buy-fiat-max" class="trial-max-btn">
              MAX
            </div>
            <%= f.text_field :fiat_amount, class: 'crypto-search-input form-control text-right', id: 'tradeValueFiatBuy', placeholder: 'USD' %>
          </div>
        </div>
        <div class="fund-warning">
          <div class="crypto-warning">
            <p class="buy-crypto-trade-warning-message trade-warning-message"></p>
          </div>
          <div class="fiat-warning">
            <p class="buy-fiat-trade-warning-message trade-warning-message"></p>
          </div>
        </div>
        <div class="buy-sell-button text-center">
          <%= f.hidden_field :transaction_type, value: 'buy' %>
          <%= f.submit 'BUY',:name=>"transaction_type", id: 'buy-trade-btn', class: 'buy-trade-btn trade-btn btn btn-success sweet-alert-demo' %>
        </div>
      <%= f.hidden_field :fiat_price , value: @latest_price, id:"latest_price" %>
      <% end %>
    </div>


    <div class="buy-input-container sell-window hidden">
      <% if current_user %>
        <% if current_user.has_portfolios? && current_user.portfolios.where(cryptocurrency_id: @cryptocurrency).any? %>
          <%= hidden_field_tag :crypto_amount_held, current_user.portfolios.where(cryptocurrency_id: @cryptocurrency).first.crypto_amount_held , id: 'crypto_amount_held', class: "user_crypto_balance" %>
          <% else %>
          <%= hidden_field_tag :crypto_amount_held, '0' , class: "user_crypto_balance" %>
        <% end %>
      <% end %>
      <%= form_for :trade, html: { autocomplete: "off" }, url: cryptocurrency_trades_path(@cryptocurrency), class: 'sell-form-sweet-alert buy-input-container' do |f| %>
        <div id="sell-form" class="inputs-wrapper">
          <div class="trial-buy-sell">
            <div id="sell-crypto-max" class="trial-max-btn">
              MAX
            </div>
          <%= f.text_field :cryptocurrency_amount, class: 'crypto-search-input form-control text-right', id: 'tradeValueCryptoSell', placeholder: "#{@cryptocurrency.ticker_code}" %>
          </div>
          <i class="material-icons exchange-arrow">compare_arrows</i>
          <div class="trial-buy-sell">
            <div id="sell-fiat-max" class="trial-max-btn">
              MAX
            </div>
          <%= f.text_field :fiat_amount, class: 'crypto-search-input form-control text-right', id: 'tradeValueFiatSell', placeholder: 'USD'  %>
          </div>
        </div>
        <div class="fund-warning">
          <div class="crypto-warning">
            <p class="sell-crypto-trade-warning-message trade-warning-message"></p>
          </div>
          <div class="fiat-warning">
            <p class="sell-fiat-trade-warning-message trade-warning-message"></p>
          </div>
        </div>
        <div class="buy-sell-button text-center">
          <%= f.hidden_field :transaction_type, value: 'sell' %>
          <%= f.submit 'SELL', id: 'sell-trade-btn', class: 'buy-trade-btn trade-btn btn btn-success' %>
        </div>
        <%= f.hidden_field :fiat_price, value: @latest_price, id:"latest_price"%>
      <% end %>
    </div>
  </div>
</div>

