<div class="trade-container">
  <div class="page-wrapper">
    <!-- here starts the div that wraps the coins list on the left and the (buy/sell, chart) div on the right -->
    <div class="half-wrapper list">
      <div class="crypto-search text-center">
       <!--  <form>
          <input type="name" class="crypto-search-input form-control" id="cryptoSearch" placeholder="ðŸ” (Bitcoin, Ethereum, etc)">
        </form> -->
      <%= form_tag cryptocurrencies_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "ðŸ” (Bitcoin, Ethereum, etc)"
        %>
        <% end %>
      </div>


      <!-- Headers -->
      <div class="crypto-list-headers">
        <div class="product list-headers">
          <div class='list-inline product-controls product-body'>
            <li>Coin</li>
          </div>
          <ul class="list-inline product-controls">
            <li>Price</li>
            <li>Value Held</li>
          </ul>
        </div>
      </div>
      <div class="scrollable-crypto-list">

        <% @cryptocurrencies.each do |crypto| %>
        <%= link_to cryptocurrency_path(crypto) do %>

        <div class="product">
          <%= image_tag crypto.ticker_code, class: "product-image" %>
          <div class='product-body'>
            <h3><%= crypto.ticker_name %></h3>
            <p><%= crypto.ticker_code %></p>
          </div>
          <ul class="list-inline product-controls">
            <li>
              <%= @live_prices[crypto.ticker_name][crypto.ticker_code].round(4) %>
              <%= CryptoCompareService::FIAT_CURRENCIES %>
            </li>
            <li>$4.321</li>
          </ul>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <!-- here starts the show page, that has the coin chart, buy/sell option, etc -->
    <div class="half-wrapper show">

      <!-- Render the show page inside this DIV -->

    </div>
  </div>
</div>


<!-- This button is here just for development purposes, to log out -->

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "sign-out my-btn", style: "border: 3px solid rgb(200,200,200); color: rgb(200,200,200); background-color: white" %>


<!-- # THIS IS JUST FOR TESTING PURPOSES. THIS IS HOW YOU SHOULD FETCH
THE INFORMATION FROM THE API, EXAMPLES BELOW -->



<!-- <div class="container text-center">
  <div><h1>HELLO THIS IS THE BUY SELL PAGE</h1></div>
  <div>
    <%# @cryptocurrencies.each do |cryptocurrency| %>
      <h2>
        <%#= image_tag "cardano.png", size: "50x50"%>
        <%#= cryptocurrency.ticker_name %>
        <%#= cryptocurrency.ticker_code %>
        <%#= @live_prices[cryptocurrency.ticker_name][cryptocurrency.ticker_code] %>
        <%#= link_to "go to show", trade_path(cryptocurrency) %>
      </h2>
    <%#end %>
  </div>
</div>

<div class="container-fluid text-center">
  <h1>#CRYPTOCURRENCY</h1>
  <%# @live_news.first(5).each do |news| %>
    <div>
      <h2><%#= news["title"] %></h2>
      <h2><%#= news["source"] %></h2>
      <%#= image_tag news["imageurl"] %>
    </div>
    <div>
      <h3><%#= news["body"] %></h3>
    </div>
  <%# end %>
</div>

 -->



