<div class="trade-container">
  <div class="page-wrapper">
    <!-- here starts the div that wraps the coins list on the left and the (buy/sell, chart) div on the right -->
    <div class="half-wrapper list">
      <%= form_tag(cryptocurrencies_path, method: 'get', class: "form-inline") do %>
        <div id="search-data" class="form-search search-data" data-cryptocurrencies="<%= @crypto_autocomplete.to_json %>">
          <%= text_field_tag :query, params[:query], autocomplete: :off, class: "form-control search-input", placeholder: "Search by crypto..." %>
        </div>
      <% end %>
      <div class="index-table-container">
        <table id="crypto-table" class="crypto-index-table">
          <thead>
            <tr>
              <th class="index-name">Name</th>
              <th data-sort-method='number' class="index-value">Value Held</th>
              <th data-sort-method='number' class="index-value price-value">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @cryptocurrencies.each do |crypto| %>
              <tr class="index-row <%= crypto == @cryptocurrency ? 'active-row' : '' %>" onclick="window.location='<%= "#{cryptocurrencies_path(crypto_id: crypto.id)}" %>';">
                <td class="index-name" data-sort='<%= crypto.ticker_name %>'>
                  <div class="name-field-table">
                    <%= image_tag "#{crypto.ticker_code}.png", class: "portfolio-icon" %>
                    <h4><%= crypto.ticker_name %> <span class="crypto-code"><%= crypto.ticker_code %></span></h4>
                  </div>
                </td>
                <% price = @live_prices[crypto.ticker_name][crypto.ticker_code] %>
                <% value_held = @value_held_hash[crypto.ticker_code] * price %>
                <% if value_held == 0 %>
                  <td class="index-value table-value" data-sort='<%= value_held %>'>-</td>
                <% else %>
                  <td class="index-value table-value" data-sort='<%= value_held %>'>$<%= number_with_delimiter(value_held.round, delimeter: ',') %></td>
                <% end %>
                <td class="index-value table-value price-value" data-sort='<%= price %>'>$<%= number_with_delimiter(price.round(4), delimeter: ",") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- here starts the show page, that has the coin chart, buy/sell option, etc -->
    <div id="current_cryptocurrency" class="half-wrapper show" >
      <!-- Render the show page inside this DIV -->
      <% if @cryptocurrency %>
        <%= render 'cryptocurrencies/show', cryptocurrency: @cryptocurrency %>
      <% else %>
        <%= render 'cryptocurrencies/grayed_show' %>
      <% end %>
    </div>
  </div>
</div>
