<h1>How much would you like to top up?</h1>
<%= simple_form_for [@user, @top_up] do |f| %>
  <%= f.input :fiat_amount %>
  <%= f.hidden_field :transaction_type, value: 'top_up' %>
  <%= f.hidden_field :date_of_top_up, value: DateTime.now %>
  <%= f.hidden_field :state, value: 'pending' %>
  <%= f.button :submit %>
<% end %>
