<!-- # THIS IS JUST FOR TESTING PURPOSES. THIS IS HOW YOU SHOULD FETCH
THE INFORMATION FROM THE API, EXAMPLES BELOW -->



<div class="container text-center">
  <div><h1>HELLO THIS IS THE BUY SELL PAGE</h1></div>
  <div>
    <% @cryptocurrencies.each do |cryptocurrency| %>
      <h2>
        <%= cryptocurrency.ticker_name %>
        <%= cryptocurrency.ticker_code %>
        <%= @live_prices[cryptocurrency.ticker_name][cryptocurrency.ticker_code] %>
      </h2>
    <% end %>
  </div>
</div>

<div class="container-fluid text-center">
  <h1>#CRYPTOCURRENCY</h1>
  <% @live_news.first(5).each do |news| %>
    <div>
      <h2><%= news["title"] %></h2>
      <%= image_tag news["imageurl"] %>
    </div>
    <div>
      <h3><%= news["body"] %></h3>
    </div>
  <% end %>
</div>





