<h1>HELLO THIS IS TRADES / NEW TEST ROOM </h2>



<div class=“booking-form”>
 <%= simple_form_for [@cryptocurrency, @trade] do |f| %>
  <div class=“form-inline text-center”><%= f.input :cryptocurrency_amount, as: :decimal %></div>
  <div class=“form-inline text-center”><%= f.input :fiat_amount_cents, as: :integer%></div>
  <div class=“form-inline text-center”><%= f.input :fiat_price_cents, as: :integer%></div>
  <div class=“form-inline text-center”><%= f.input :transaction_type, collection: Trade.list_transaction_types %></div>
  <%= f.button :submit, class: "btn btn-success" %>
 <% end %>
</div>


<%#= f.hidden_field :transaction_type, value: buy %>
<%#= f.hidden_field :transaction_type, value: sell %>
